@page
@addTagHelper*, Microsoft.AspNetCore.Mvc
@model CarInfoModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="text-align:center;">Date masina</h1>

            <form method="post">
                <div class="form-group mb-3">
                    <label for="name">Nume</label>
                    <input asp-for="Car.Name" class="form-control" id="name" placeholder="BMW">
                </div>
                <div class="form-group mb-3">
                    <label for="model">Model</label>
                    <input asp-for="Car.Model" class="form-control" id="model" placeholder="X5">
                </div>
                <div class="form-group mb-3">
                    <label for="vin">VIN</label>
                    <input asp-for="Car.VIN" class="form-control" id="vin" placeholder="SDF456DD567786">
                </div>
                <div class="form-group mb-3">
                    <label for="engineSN">Număr motor</label>
                    <input asp-for="Car.EngineSN" class="form-control" id="engineSN" placeholder="1234RF5">
                </div>
                <div class="form-group mb-3">
                    <label for="engineCCM">Capacitate motor (CCM)</label>
                    <input asp-for="Car.EngineCCM" class="form-control" id="engineCCM" placeholder="2200">
                </div>
                <div class="form-group mb-3">
                    <label for="weight">Greutate</label>
                    <input asp-for="Car.Weight" class="form-control" id="weight" placeholder="1890">
                </div>
                <div class="form-group mb-3">
                    <label for="fabricationYear">An de fabricație</label>
                    <input asp-for="Car.FabricationYear" class="form-control" id="fabricationYear" placeholder="2020">
                </div>
                <div class="form-group mb-3">
                    <label for="euroPolutionNorm">Normă de poluare Euro</label>
                        <select asp-for="Car.EuroPolutionNorm" class="form-control" id="euroPolutionNorm">
                        <option value="EURO 7">EURO 7</option>
                        <option value="EURO 6">EURO 6</option>
                        <option value="EURO 5" selected>EURO 5</option>
                        <option value="EURO 4">EURO 4</option>
                        <option value="EURO 3">EURO 3</option>
                        <option value="EURO 2">EURO 2</option>
                        <option value="EURO 1">EURO 1</option>
                        <option value="NAN">NAN</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="lastInspection">Ultima inspecție</label>
                    <input asp-for="Car.LastInspection" type="date" class="form-control" id="lastInspection" value="2022-12-12">
                </div>
                <div class="form-group mb-3">
                    <label for="acquisitionDate">Data achiziției</label>
                    <input asp-for="Car.AcquisitionDate" type="date" class="form-control" id="acquisitionDate" value="2012-12-12">
                </div>
                <div class="form-group mb-3">
                    <label for="acuisitionPaperName">Numele actului de achiziție</label>
                    <select asp-for="Car.AcuisitionPaperName" class="form-control" id="acuisitionPaperName">
                        <option value="Contract Vanzare-Cumparare" selected>Contract Vanzare-Cumparare</option>
                        <option value="Decizie Judecatoreasca">Decizie Judecatoreasca</option>
                        <option value="Testament Mostenitor">Testament Mostenitor</option>
                        <option value="Donatie">Donatie</option>
                        <option value="NAN">NAN</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="lateNumber">numar de inmatriculare</label>
                    <input asp-for="Car.PlateNumber" class="form-control" id="plateNumber" placeholder="TM12RTY">
                </div>

                <button type="submit" class="btn btn-primary">Salvează</button>
            </form>
        </div>
    </div>
</div>
