@page
@addTagHelper*, Microsoft.AspNetCore.Mvc
@model FinancialInfoModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* Stil pentru zona de semnare */
    #signature-pad {
        border: 1px solid gray;
        width: 400px;
        background-color: #fff;
        margin: 10px;
    }

    .container {
        justify-content: space-between;
    }

    .subdiv {
        flex: 1;
        padding: 10px;
        text-align: center;
        justify-content: center; /* Aliniere orizontală pe centru */
        align-items: center;
    }
</style>
<div class ="cursor-div">
    <h3>Completarea Datelor Tranzactiei</h3>
    <br />
    <ul class="containerT">
        @if (Model.Stage == 1)
        {
            <li class="link active"><a href="">Vanzator</a></li>
        }
        else
        {
            <li class="link"><a href="">Vanzator</a></li>
        }

        @if (Model.Stage == 2)
        {
            <li class="link active"><a href="">Cumparator</a></li>
        }
        else
        {
            <li class="link"><a href="">Cumparator</a></li>
        }

        @if (Model.Stage == 3)
        {
            <li class="link active"><a href="">Masina</a></li>
        }
        else
        {
            <li class="link"><a href="">Masina</a></li>
        }

        @if (Model.Stage == 4)
        {
            <li class="link active"><a href="">Oferta</a></li>
        }
        else
        {
            <li class="link"><a href="">Oferta</a></li>
        }

        @if (Model.Stage == 5)
        {
            <li class="link active"><a href="">Terminat</a></li>
        }
        else
        {
            <li class="link"><a href="">Terminat</a></li>
        }

    </ul>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="post">
                <div class="form-group mb-3">
                    <label for="location">Locatie</label>
                    <input asp-for="FInfo.Location" class="form-control text-uppercase " id="location" placeholder="Ex:Timisoara">
                    <span asp-validation-for="FInfo.Location" class="text-danger"></span>

                </div>
                <div class="form-group mb-3">
                    <label for="currency">Moneda</label>
                    <select asp-for="FInfo.Currency" class="form-control text-uppercase" id="currency">
                        <option value="LEI">LEI</option>
                        <option value="EURO" selected>EURO</option>
                        <option value="USD">USD</option>
                        <option value="HUF">HUF</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="Price">Pret</label>
                    <input asp-for="FInfo.Price" class="form-control" id="price" placeholder="5000" value="5000">
                    <span asp-validation-for="FInfo.Price" class="text-danger"></span>

                </div>

                <div class="form-group mb-3">
                    <label for="Price">Semnatura Vanzator</label>

                    <div id="signature-pad" class="signature-pad">
                        <canvas id="signature-canvas" width="400" height="150"></canvas>
                    </div>
                    <button class="btn btn-dark" id="clear-button" type="button">Sterge</button>
                    <input type="hidden" asp-for="FInfo.SellerSignature" id="capturedImage" value="" />

                </div>

                <div class="form-group mb-3">
                    <label for="Price">Semnatura Cumparator</label>


                    <div id="signature-pad" class="signature-pad">
                        <canvas id="signature-canvas2" width="400" height="150"></canvas>
                    </div>
                    <button class="btn btn-dark" id="clear-button2" type="button">Sterge</button>
                    <input type="hidden" asp-for="FInfo.BuyerSignature" id="capturedImage2" value="" />
                </div>


                <br/>
                <div class="text-center">
                    <button class="btn btn-primary" id="save-button">Salvează date tranzactie</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    var canvas = document.getElementById('signature-canvas');
    var capturedImage = document.getElementById('capturedImage');
    var context = canvas.getContext('2d');
    var isDrawing = false;

    canvas.addEventListener('touchstart', function (e) {
        e.preventDefault();
        isDrawing = true;
        var touch = e.touches[0];
        context.beginPath();
        context.moveTo(touch.clientX - canvas.getBoundingClientRect().left, touch.clientY - canvas.getBoundingClientRect().top);
    });

    canvas.addEventListener('touchmove', function (e) {
        e.preventDefault();
        if (!isDrawing) return;
        var touch = e.touches[0];
        context.lineTo(touch.clientX - canvas.getBoundingClientRect().left, touch.clientY - canvas.getBoundingClientRect().top);
        context.stroke();
    });

    canvas.addEventListener('touchend', function () {
        isDrawing = false;
    });

    canvas.addEventListener('mousedown', function (e) {
        isDrawing = true;
        context.beginPath();
        context.moveTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
    });

    canvas.addEventListener('mousemove', function (e) {
        if (isDrawing) {
            context.lineTo(e.clientX - canvas.getBoundingClientRect().left, e.clientY - canvas.getBoundingClientRect().top);
            context.stroke();
        }
    });

    canvas.addEventListener('mouseup', function () {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function () {
        isDrawing = false;
    });

    var clearButton = document.getElementById('clear-button');
    clearButton.addEventListener('click', function () {
        context.clearRect(0, 0, canvas.width, canvas.height);
    });


    var canvas2 = document.getElementById('signature-canvas2');
    var capturedImage2 = document.getElementById('capturedImage2');
    var context2 = canvas2.getContext('2d');
    var isDrawing2 = false;

    canvas2.addEventListener('touchstart', function (e) {
        isDrawing2 = true;
        e.preventDefault(); // Previne comportamentul implicit (scrolare și zoom)

        var touch = e.touches[0];
        context2.beginPath();
        context2.moveTo(touch.clientX - canvas2.getBoundingClientRect().left, touch.clientY - canvas2.getBoundingClientRect().top);
    });

    canvas2.addEventListener('touchmove', function (e) {
        e.preventDefault(); // Previne comportamentul implicit (scrolare și zoom)

        if (!isDrawing2) return;
        var touch = e.touches[0];
        context2.lineTo(touch.clientX - canvas2.getBoundingClientRect().left, touch.clientY - canvas2.getBoundingClientRect().top);
        context2.stroke();
    });

    canvas2.addEventListener('touchend', function () {
        isDrawing2 = false;
    });

    canvas2.addEventListener('mousedown', function (e) {
        isDrawing = true;
        context2.beginPath();
        context2.moveTo(e.clientX - canvas2.getBoundingClientRect().left, e.clientY - canvas2.getBoundingClientRect().top);
    });

    canvas2.addEventListener('mousemove', function (e) {
        if (isDrawing) {
            context2.lineTo(e.clientX - canvas2.getBoundingClientRect().left, e.clientY - canvas2.getBoundingClientRect().top);
            context2.stroke();
        }
    });

    canvas2.addEventListener('mouseup', function () {
        isDrawing = false;
    });

    canvas2.addEventListener('mouseleave', function () {
        isDrawing = false;
    });

    var clearButton2 = document.getElementById('clear-button2');
    clearButton2.addEventListener('click', function () {
        context2.clearRect(0, 0, canvas2.width, canvas2.height);
    });

    var saveButton = document.getElementById('save-button');
    saveButton.addEventListener('click', function () {
        capturedImage.value = canvas.toDataURL("image/png");
        capturedImage2.value = canvas2.toDataURL("image/png");
    });
</script>

