@page
@model Contracts.Pages.GDPRModel
<div >
<h1>ℹ️ Acord privind Prelucrarea Datelor Personale</h1>

<p>Această notificare se referă la prelucrarea datelor dvs. personale de către Professor Prime S.R.L., cu sediul în Romania, Jud.Timis, Loc. Giarmata, str. Primaverii, nr. 90, în calitate de controlor de date.</p>

<p>Prin furnizarea datelor dvs. personale, vă dați acordul explicit pentru colectarea, stocarea și prelucrarea acestora în scopurile specificate mai jos.</p>

<h2>ℹ️Datele Personale Colectate:</h2>
<ul>
    <li>Numele și prenumele</li>
    <li>Codul Numeric Personal (CNP)</li>
    <li>Seria și numărul actului de identitate</li>
    <li>Număr de telefon</li>
    <li>Adresă de e-mail</li>
        <li>Adresă poștală</li>
        <li>Alte date introduse de utilizator.</li>
</ul>

<h2>ℹ️Scopurile Prelucrării Datelor:</h2>
<p>Datele dvs. personale vor fi prelucrate în următoarele scopuri:</p>
<ul>
    <li>Pentru gestionarea și încheierea tranzacțiilor privind autovehiculele.</li>
    <li>Pentru respectarea obligațiilor legale și fiscale.</li>
    <li>Pentru comunicarea cu dvs. în legătură cu tranzacțiile și serviciile noastre.</li>
    <li>Pentru îmbunătățirea serviciilor noastre și analiza comportamentului clienților.</li>
    <li>Pentru analiza si statistica.</li>
</ul>

<h2>ℹ️Perioada de Păstrare:</h2>
<p>Datele dvs. personale vor fi păstrate doar pentru perioada necesară atingerii scopurilor pentru care au fost colectate și conform cerințelor legale.</p>

<h2>ℹ️Consimțământ:</h2>
<p>Prin furnizarea acestor date personale și semnarea acestui acord, confirmați că sunteți de acord cu prelucrarea acestor date personale în conformitate cu prevederile prezentului document.</p>

<h2>ℹ️Confidențialitate și Securitate:</h2>
<p>Professor Prime S.R.L. va lua măsuri pentru a asigura securitatea datelor dvs. personale și pentru a evita divulgarea acestora către terțe părți neautorizate.</p>

</div>