@page
@addTagHelper*, Microsoft.AspNetCore.Mvc
@model IndexModel
@{
  //  ViewData["Title"] = "Contracte";
}

<style>
    #container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    button {
        padding: 10px 20px;
    }
</style>

<div id="container">
    <h1>Generează Documente</h1>
    <br />
    <br />
    <button class="btn btn-primary" type="button" onclick="window.location.href='/Seller'">🚗<br /> Contract Auto <br /> Vânzare-Cumpărare <br />.</button>
</div>
