@page
@model Contracts.Pages.TestModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .box {
            height: 297mm; /* Înălțimea paginii A4 */
            width: 210mm; /* Lățimea paginii A4 */
            margin-left: auto; /* Centralizează conținutul pe pagină */
            margin-right: auto; /* Centralizează conținutul pe pagină */
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            z-index: 1; /* Acesta este pentru a plasa div-ul în prim plan */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="myDiv" class="box"></div>
</body>
</html>
